<header>
        <nav class="navbar navbar-expand navbar-dark bg-dark ">
            <div class="navbar-nav ">
                <a *ngIf="usersService.isUserLoggedIn()" class="nav-item nav-link" routerLink="home">My Home</a>
                <a *ngIf="!usersService.isUserLoggedIn()" class="nav-item nav-link" routerLink="login">Iniciar Sesión</a>
                <a *ngIf="!usersService.isUserLoggedIn()" class="nav-item nav-link" routerLink="signup">Regístrate</a>
                <a *ngIf="usersService.isUserLoggedIn()" class="nav-item nav-link" routerLink="imc">Mi CalculadoraIMC</a>
                <li><a *ngIf="usersService.isUserLoggedIn()" class="nav-item nav-link" (click)="logout()" routerLink="">Cerrar sesión</a></li>
            </div>
        </nav>
</header>