<header>
        <nav class="navbar navbar-expand navbar-dark bg-dark ">
            <div class="navbar-nav ">
                <a *ngIf="!usersService.isUserLoggedIn()" class="nav-item nav-link" routerLink="login">Login</a>
                <a *ngIf="!usersService.isUserLoggedIn()" class="nav-item nav-link" routerLink="signup">Signup</a>
                <a *ngIf="usersService.isUserLoggedIn()" class="nav-item nav-link" routerLink="imc">CalculadoraIMC</a>
                <li><a *ngIf="usersService.isUserLoggedIn()" class="nav-item nav-link" (click)="logout()" routerLink="">Logout</a></li>
            </div>
        </nav>
</header>