body {
    background-size: cover;
    font-family: sans-serif;
}
  
  
.ui-box {
    width: 550px;
    height: 1250px;
    background-image: linear-gradient(101deg,#262929,#000000);
    color: rgb(255, 255, 255);
    top: 90%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -40%);
    box-sizing: border-box;
    padding: 25px 30px;
    border-radius: 10px;
}
  
  
  
.ui-box h1 {
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 2em;
    text-shadow: gray 4px 0;
    font-weight: bolder;
    
}
  
 
  
.ui-box input {
    margin-bottom: 20px;
    column-width: 10px;
    color: rgb(255, 255, 255);

}
  
.ui-box input[type="number"], .ui-box input[type="text"] {
    background: rgb(240, 255, 240);
    background-image: linear-gradient(101deg,#f8f8f8,#1cf7c8);
    padding: 12px 30px;
    background: transparent;
}
  
.enviarDatos-button input[type="submit"]:hover {
    cursor: pointer;
    background: rgb(240, 255, 240);
    border-radius: 24px;
    background-image: linear-gradient(101deg,#e91e63,#f7681c);
    padding: 12px 30px;
}

.save-imc-button input[type="submit"]:hover {
    cursor: pointer;
    background: rgb(240, 255, 240);
    border-radius: 24px;
    background-image: linear-gradient(101deg,#e91e63,#f7681c);
    padding: 12px 30px;
}
  
.ui-btn input[type="submit"]:hover {
    cursor: pointer;
    background: rgb(240, 255, 240);
    border-radius: 24px;
    background-image: linear-gradient(101deg,#1ebae9,#1cf7c8);
    margin-top: 32px;
    border: none;
    padding: 12px 30px;
    text-decoration: none;
    
}
  
textarea{
    text-align: center;
    resize : none;
    color: rgb(8, 2, 2);
    padding: 6%;
    width: 500px;
}
.rango{
    background: url(rango.jpg);
    background-size: 100% 100%;
}
.hombre{
    background: url(hombreT.jpg);
}
.mujer{
    background: url(mujerT.jpg);
}

::placeholder {
    color: rgb(255, 255, 255);
    opacity: 0.7;
  }

