<html>

<head>
    <meta charset="utf-8">

</head>

<body>

    <div class="ui-box ">

        <h1>IMC CALCULADORA</h1>
        <form>
            <div *ngIf="!usersService.isUserLoggedIn()" class="alert alert-danger">
                Error Por favor iniciar sesión
            </div>
            <!-- ESTATURA  -->
            <label for="estatura">Estatura (cm)</label>
            <input id="estatura" [(ngModel)]="estatura" type="number" class="form-control estatura" name="estatura"
                placeholder="0.0">
            <!-- PESO  -->
            <label for="peso">Peso (kg)</label>
            <input id="peso" [(ngModel)]="peso" type="number" class="form-control peso" name="peso" placeholder="0.0">
            <!-- EDAD -->
            <label for="edad">Edad</label>
            <input id="edad" [(ngModel)]="edad" type="number" class="form-control edad" name="edad" placeholder="0.0">
            <!-- GENERO -->
            <label for="genero">Genero</label>
            <input id="genero" [(ngModel)]="genero" type="text" class="form-control genero" name="genero"
                placeholder="hombre/mujer">
            <p><input class="enviarDatos-button btn btn-success" type="submit" (click)="calcularIMC()" value="Calcular tu IMC"></p>
            <p><input class="save-imc-button btn btn-info" type="submit" (click)="saveimc()" value="Guardar IMC"></p>
            <div *ngIf="calculo" class="alert alert-success">
                Resultado Obtenido: 
                {{result}}
            </div>
            <div *ngIf="response" class="alert alert-warning">
                Tu Índice de Masa Corporal Fue Guardado: {{response}}
            </div>
            
        </form>

        <form>
            <div>
                <img src="rango.jpg" width="500px" height="60px" />
            </div>
            <p></p>
            <div >
                <img src="hombreT.jpg" width="500px" height="190px" />
            </div>
            <p></p>
            <div >
                <img src="mujerT.jpg" width="500px" height="190px" />
            </div>
        </form>
    </div>

</body>

</html>