<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="navbar-nav">
                <a class="nav-item nav-link" routerLink="/">Home</a>
                <a class="nav-item nav-link" >Logout</a>
                <a class="nav-item nav-link" routerLink="login">Login</a>
                <a class="nav-item nav-link" routerLink="signup">Signup</a>
                <a class="nav-item nav-link" routerLink="imc">CalculadoraIMC</a>
            </div>
        </nav>
        <router-outlet></router-outlet>
    </body>
</html>


