.body {
    width: 400px;
    transform: translate(120%, 20%);
    font-size: 0.8em;
}

.result {
    font-size: 1.1em;
    font-weight: bold;
    color: red;
}

.name {
    font-size: 1.5em;
    font-weight: lighter;
    color: black;

}

.username {
    font-size: 1.5em;
    font-weight: lighter;
    color: black;

}

.email {
    font-size: 1.5em;
    font-weight: lighter;
    color: black;

}

.rol {
    font-size: 1.5em;
    font-weight: lighter;
    color: black;

}

.password {
    font-size: 1.5em;
    font-weight: lighter;
    color: black;

}

.button {
    cursor: pointer;
    color: white;
}

.btn-block {
    display: block;
    width: 100%;
}