<!DOCTYPE html>
<html>
<div >
    <h1>Información personal</h1>
<br/>
    <div class="row">
        <div class="user"></div>
        <div class="col-md-5 list">
            <p></p>
            <ul class="list-group">
                <li class="list-group-item"><strong>ID:</strong> {{info.id}}<br/></li>
                <li class="list-group-item"><strong>Nombre de usuario:</strong> {{info.username}}<br/></li>
                <li class="list-group-item"><strong>Email:</strong> {{info.email}}<br/></li>
                <li class="list-group-item"><strong>Roles:</strong> {{info.authorities}}<br/></li>
                <li class="list-group-item"><strong>Token:</strong> {{info.token}}<br/></li>
            </ul>
        </div>
    </div>
</div>

</html>