.back-img {
    background: url("../../assets/resourse/Calculate-Your-Body-Mass-Index.jpg") ;
    background-size: 100% 100%;
    height: 35.5em;
}

h1{
    padding-left: 10px;
    padding-top: 25px;
    font-size:1.6em;
}

h2{
    padding-left: 10px;
    font-size:1.6em;
}
